body {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
}
header {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
h1 {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ==========================
  Global Classes
============================= */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===========================
  HEADER
============================== */

.main-header {
  width: 100%;
  background: #d1d2d1 url('../img/notebook-computer-chill-relax.jpg') 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}

  /* ----- Nav Bar ----- */

.main-nav {
  position: fixed;
  width: 100%;
  opacity: 1;
  transition: opacity .4s ease-out;
}

.main-nav.transparent {
  opacity: 0;
}

.nav-wrapper {
  padding: .75em 1.5em;
}

.logo {
  display: inline-block;
  width: 55px;
}

.nav-links a {
  margin-left: 1em;
}

.nav-links a,
.nav-links svg {
  width: 18px;
  height: 18px;
}

.nav-links a .item {
  fill: #fff;
  transition: .3s;
}

.nav-links a:hover .item {
  fill: #333;
}

  /* ----- Tagline ----- */

.header-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content > div {
  padding-bottom: 8em;
}

.header-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: .16em;
  text-align: center;
}

.header-content p {
  margin: .5em 0;
} 

.tagline {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}

.header-bottom {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.header-bottom a {
  display: block;
  margin-bottom: .25em;
  color: #fff;
}

.header-bottom img {
  width: 16px;
  height: 16px;
}

/* =============================
  MAIN CONTENT
================================ */

.main {
  padding: 0 2em;
}

.project-wrapper {
  position: relative;
}

.section-header {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  padding: .5em 0;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .1em;
  padding-bottom: 1.2em;
  position: relative;

}

.section-header:before {
  content: "";
  margin: auto;
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: #d1d2d1;
  bottom: 0;
  left: 0;
  right: 0;
}

.projects-intro {
  margin: 2em 0;
  padding: 0 1em;
  flex-direction: column;
}

.projects-intro h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.4;
}

  /* ----- Projects ----- */

.project-container {
  margin-bottom: 2em;
  background-color: #aaa;
}

.project-container a {
  display: block;
}

.photo {
  position: relative;
  line-height: 0;
  overflow: hidden;
}

.photo img {
  transform-origin: 50% 50%;
  transition: transform .4s cubic-bezier(.7,-0.39,.31,1.38);
}

.photo:hover img {
  transform: scale(1.05);
}

.photo-selected {
  box-shadow: 0 0 0 12px #a7a7a7,
        inset 0 0 0 1px #a7a7a7;
}

.photo-overlay {
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.photo-overlay:hover {
  opacity: 1;
}

.photo-overlay p {
  line-height: 1.2;
}

  /* ----- Overlay ----- */

.modal {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0px;
  opacity: 0;
  transition: opacity .4s ease-out;
}

.modal.fade-in {
  z-index: 100;
  opacity: 1;
}

.modal-content {
  max-width: 800px;
  margin: 4em auto 0;
}

.modal .close {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 2em;
}


  /* ----- About Me ----- */

.about {
  margin-bottom: 2em;
}

.about h3 {
  text-align: center;
}

.about p {
  font-size: .9em;
  color: #888;
  line-height: 1.7;
}

.pic-me {
  width: 20%;
  border: 4px solid #ccc;
  margin-left: 2em;
  background-color: #aaa;
  border-radius: 50%;
  display: none;
}

/* =============================
  FOOTER
================================ */

.copyright {
  font-size: 12px;
}

.main-footer {
  background-color: #f1f1f1;
  height: 200px;
  width: 100%;
}

.footer-links a {
  margin-left: 2em;
}

.footer-links a,
.footer-links svg {
  width: 40px;
  height: 40px;
}

.footer-links a path {
  fill: #fff;
  transition: all .3s ease-out;
}

.footer-links a:hover path {
  fill: #333;
}

.footer-links a circle {
  fill: #333;
  transition: all .3s ease-out;
}

.footer-links a:hover circle {
  fill: #fff;
}

/* =============================
  CLEARFIX
================================ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================
  MEDIA QUERIES
================================ */

@media (min-width: 480px) and (orientation: landscape) {

  .header-height {
    height: 100vh;
  }

}

@media (max-width: 767px), (orientation: portrait) {

  .header-height {
    height: 100vh;
  }

}

@media (min-width: 768px) {
  .main {
    padding: 0 4em;
  }
  .header-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pic-me {
    display: block;
  }
  .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em;
  }
  .project-container {
    flex-basis: 48%;
    margin-bottom: 4em;
  }
  .about {
    padding: 0 2em;
  }

}

@media (min-width: 1024px) {
  .project-container {
    flex-basis: 32%;
  }

}



















